.container {
    width: 600px;
    height: 600px;
    overflow: scroll;
    margin: 10px auto;
    background-color: #7986cb;
    padding: 20px;
    color: #fff;
    box-sizing: border-box;
}

h3,
.user_form,
.btn_group {
    display: flex;
    justify-content: center;
}

.user_form {
    margin-bottom: 1rem;
}

ul li {
    list-style: none;
    counter-increment: item;
    margin-bottom: 1rem;
}

ul li::before {
    content: counter(item);
    background-color: #f9dd94;
    color: #fff;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
    margin-right: 1rem;
}

button {
    color: #fff;
    background-color: #c2d352;
    text-transform: capitalize;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin: 0 1rem;
    cursor: pointer;
}

button:hover {
    background: #434343;
    transition: all 0.4s ease;
}
